.custom-modal .modal-dialog {
  max-width: 80%;
  width: 80%;
}

.custom-modal .modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

#add-task-modal {
  margin-right: 10%;
  margin-left: 10%;
  max-width: unset;
}
