/* ComposeMailModal.css */
.suggestions-list {
  position: absolute;
  z-index: 1000; /* Ensure it appears above other content */
  width: 96%; /* Adjust to ensure it fits within the input group */
  max-height: 150px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white; /* Ensure the background is white */
  display: none; /* Hide the list by default */
}

.suggestions-list.show {
  display: block; /* Only show when there are suggestions */
}

.custom-focus:focus {
  box-shadow: 0 0 5px 2px rgba(243, 156, 18, 0.5);
}
