.login-register-form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 70%;
}

.register-inputs {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
}

#register-inputs-lower-side {
   display: flex;
   flex-direction: row;
}

#pass-strength {
   display: flex;
   flex-direction: row;
   align-items: center;
}

#pass-strength div {
   width: 50%;
   font-size: 15px;
}

meter {
   height: 30px;
   background: transparent;
   width: 50%;
}

meter[value="0"]::-webkit-meter-optimum-value {
   transition: ease-in-out 0.5s;
}
meter[value="1"]::-webkit-meter-optimum-value {
   background: red;
   transition: ease-in-out 0.5s;
}
meter[value="2"]::-webkit-meter-optimum-value {
   background: orange;
   transition: ease-in-out 0.5s;
}
meter[value="3"]::-webkit-meter-optimum-value {
   background: yellow;
   transition: ease-in-out 0.5s;
}
meter[value="4"]::-webkit-meter-optimum-value {
   background: green;
   transition: ease-in-out 0.5s;
}

#pass-strength-string {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
}

#pass-strength-string div {
   width: 50%;
}

#pass-strength-string div {
   font-size: 14px;
}

#sign-up-with {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   flex-direction: column;
   gap: 20px;
   font-size: 18px;
}

#sign-up-with-icons {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

#sign-up-with-icons i {
   cursor: pointer;
}

#line-or-div {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 20px;
   font-weight: bold;
}
.or-line-register {
   width: 45%;
   transform: translate(0, 100%);
}

.or-line-register hr {
   border: 0.5px solid rgb(60, 60, 60);
}
#or-left-line {
   padding-right: 10px;
}

#or-right-line {
   padding-left: 10px;
}

#buttons-register-form {
   width: 100%;
   display: flex;
   flex-direction: row;
   margin-top: 10px;
}

#buttons-register-form div {
   width: 6%;
}

#cancel-register-form {
   width: 30%;
}

#submit-register-form {
   width: 64%;
}
