#register-form-container {
   display: flex;
   width: 100%;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

#register-form {
   display: flex;
   width: 40%;
}

#register-form-content {
   display: flex;
   flex-direction: row;
   width: 100%;
}

#register-inputs {
   display: flex;
   flex-direction: column;
   width: 50%;
   gap: 8px;
}

#register-form {
   display: flex;
   flex-direction: column;
}

#register-inputs-lower-side {
   display: flex;
   flex-direction: row;
}

#pass-strength {
   display: flex;
   flex-direction: row;
   align-items: center;
}

#pass-strength div {
   width: 50%;
}

meter {
   height: 30px;
   background: transparent;
   width: 50%;
}

meter[value="0"]::-webkit-meter-optimum-value {
   transition: ease-in-out 0.5s;
}
meter[value="1"]::-webkit-meter-optimum-value {
   background: red;
   transition: ease-in-out 0.5s;
}
meter[value="2"]::-webkit-meter-optimum-value {
   background: orange;
   transition: ease-in-out 0.5s;
}
meter[value="3"]::-webkit-meter-optimum-value {
   background: yellow;
   transition: ease-in-out 0.5s;
}
meter[value="4"]::-webkit-meter-optimum-value {
   background: green;
   transition: ease-in-out 0.5s;
}

#pass-strength-string {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
}

#pass-strength-string div {
   width: 50%;
}

#pass-strength-string div {
   font-size: 14px;
}
