@keyframes slideIn {
    from {
      top: -50px;
      opacity: 0;
    }
    to {
      top: 0%;
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      top: 0%;
      opacity: 1;
    }
    to {
      top: -50px;
      opacity: 0;
    }
  }
  
  .alert-slide-in {
    animation: slideIn 0.5s forwards, slideOut 0.5s forwards 2.5s;
    background-color: #f6ebda; /* Background color */
    border: 2px solid #f1c40f; /* Border color */
    color: #f39c12; /* Text color */
  }
  
  .alert-slide-in .sender-name {
    color: #e67e22; /* Sender name color */
    font-weight: bold;
  }
  