
Backend/projecto_ILM_backend/src/main/java/com/ilm/projecto_ilm_backend/imgsUploads/imagesPath.java

Backend/projecto_ILM_backend/src/main/resources/META-INF/persistence.xml

Backend/projecto_ILM_backend/src/main/java/com/ilm/projecto_ilm_backend/utilities/imgsPath.java

Backend/demo/.mvn/wrapper/

Backend/demo/.idea/misc.xml

Backend/demo/.idea/vcs.xml

Backend/demo/mvnw.cmd

Backend/demo/mvnw

Backend/demo/.idea/encodings.xml

Backend/projecto_ILM_backend/target/classes/META-INF/persistence.xml

Frontend/projecto_ilm_frontend/src/components/inputs/PasswordForm.css
