.inputForm {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.required-field-inputForm {
   color: rgb(192, 23, 34);
   font-size: 12px;
}

.inputForm label {
   font-size: 18px;
}

.input-div {
   display: flex;
   flex-direction: column;
   gap: 4px;
}
