.aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 25%;
  position: fixed;
  left: 0%;
  top: 0%;

  padding: 20px;
  padding-top: 50px;
  padding-right: 12%;
  margin-top: 60px;
  height: calc(100vh - 60px);
}

.aside-Mobile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35%;
  position: fixed;
  left: 0%;
  top: 0%;
  padding: 20px;
  padding-top: 50px;

  margin-top: 60px;
  height: calc(100vh - 60px);
  background-color: rgba(30, 40, 82, 0.9);
  z-index: 1000;
}
.aside-background {
  width: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: rgb(30, 40, 82);
  padding: 20px;
  padding-top: 50px;
  padding-right: 12%;
  margin-top: 60px;
  height: calc(100vh - 60px);
}

#label-slots {
  margin-bottom: 0;
}
#slots-switch {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 6%;
  display: flex;
  flex-direction: row;
}

#select-lab {
  margin-top: 30%;
}

.custom-focus {
  cursor: pointer;
}

.custom-switch .form-check-input {
  cursor: pointer;
}

.div-control-form {
  width: 100%;
}
#your-projects-color {
  background-color: rgba(255, 232, 179, 0.927);
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
