.aside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 25%;
  position: fixed;
  left: 0%;
  top: 0%;

  padding: 20px;
  padding-top: 50px;
  padding-right: 12%;
  margin-top: 60px;
  height: calc(100vh - 60px);
}
.aside-background {
  width: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: rgb(30, 40, 82);
  padding: 20px;
  padding-top: 50px;
  padding-right: 12%;
  margin-top: 60px;
  height: calc(100vh - 60px);
}

#label-slots {
  margin-bottom: 0;
}
#slots-switch {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 6%;
  display: flex;
  flex-direction: row;
}

#select-lab {
  margin-top: 30%;
}

.custom-focus {
  cursor: pointer;
}

.custom-switch .form-check-input {
  cursor: pointer;
}

.div-control-form {
  width: 100%;
}
#your-projects-color {
  background: linear-gradient(
      56.26deg,
      #f39d125e 60%,
      rgba(192, 23, 34, 0.05) 100%
    ),
    rgb(226, 226, 226);
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
