/* ProjectPlanPage.css */
.bckg-color-ilm-page {
  background-color: #f5f5f5;
}

.tasks-list {
  max-height: 500px;
  overflow-y: auto;
}

.tasks-list .list-group-item {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#gant-row-chart-container ._3eULf {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
