.message-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 75%;
}

.message-container.right .message-avatar {
  order: 1;
  margin-right: 0;
  margin-left: 10px;
}

.message-content.right {
  background-color: #d1ecf1;
  margin-left: auto;
}

.message-content.left {
  background-color: #f8d7da;
}

.message-date {
  font-size: 0.8em;
  color: #6c757d;
}

.list-group-item {
  border: none;
}

.message-input {
  width: 100%;
  height: 80px;
  resize: none;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.online {
  background-color: green;
}

.offline {
  background-color: gray;
}

.status-label {
  margin-left: 5px;
}

.online-label {
  color: green;
}

.offline-label {
  color: gray;
}

#list-user-project-profile::-webkit-scrollbar {
  width: 7px;
  height: 6px; /* Espessura da barra de rolagem */
}

#list-user-project-profile::-webkit-scrollbar-track {
  background: rgba(
    158,
    176,
    255,
    0.216
  ); /* Cor do trilho da barra de rolagem */
  border-radius: 8px;
}

#list-user-project-profile::-webkit-scrollbar-thumb {
  background: #888; /* Cor da barra de rolagem */
  border-radius: 8px; /*Arredonda os cantos*/
}

#list-user-project-profile::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

#chat-project-profile::-webkit-scrollbar {
  width: 7px;
  height: 6px; /* Espessura da barra de rolagem */
}

#chat-project-profile::-webkit-scrollbar-track {
  background: rgba(
    158,
    176,
    255,
    0.216
  ); /* Cor do trilho da barra de rolagem */
  border-radius: 8px;
}

#chat-project-profile::-webkit-scrollbar-thumb {
  background: #888; /* Cor da barra de rolagem */
  border-radius: 8px; /*Arredonda os cantos*/
}

#chat-project-profile::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem ao passar o mouse */
}
