.custom-table {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .custom-table thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
  }
  
  .custom-table tbody tr {
    max-height: 50px;
  }
  
  .custom-table tbody td {
    vertical-align: middle;
  }
  