#reset-pass-page {
   display: flex;
   justify-content: center;
   align-items: center;
}

#div-password {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

#pass-strength div {
   white-space: nowrap;
}

#div-password-container {
   width: 270px;
}

#submit-button-reset {
   width: 50%;
}
