* {
  margin: 0;
  padding: 0;
}

:root {
  --vh: 1vh; /* Fallback value */
  --vw: 1vw; /* Fallback value */
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bckg-color-ilm-page {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 92vh;
  z-index: -1;
  position: absolute;
}

.bckg-color-ilm-page2 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 91.5vh;
  z-index: -1;
  position: absolute;
}

code {
  font-family: Mark-Bold, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.ilm-form {
  /*background-color: rgba(247, 55, 68, 0.116);*/
  background: linear-gradient(
      56.26deg,
      rgba(30, 40, 82, 0.336) 0%,
      rgba(192, 23, 34, 0.05) 100%
    ),
    rgb(255, 255, 255);
  padding: 35px 48px;
  color: rgb(60, 60, 60);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.ilm-form .form-title {
  font-size: 22px;
  font-weight: bold;
}

.submit-button {
  background-color: rgb(30, 40, 82);
  color: white;
  border: 0;
  border-radius: 15px;
  font-size: 16px;
  padding: 14px 0px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.submit-button:hover {
  background-color: rgb(9, 19, 63);
}

.secondary-button {
  background-color: #727272;
  color: white;
  border: 0;
  border-radius: 15px;
  font-size: 16px;
  padding: 14px 0px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.secondary-button:hover {
  background-color: #4b4b4b;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.ilm-page {
  background-image: url("../../../Resources/background-img-grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 60px;
  height: calc(100vh - 60px);
}

.ilm-page-noheight {
  background-color: rgb(252, 252, 252);
  margin-top: 60px;
  padding-bottom: 30px;
}

.ilm-pageb {
  background-color: rgb(245, 245, 245);
  margin-top: 60px;
  height: calc(100vh - 60px);
}

.ilm-pageb-with-aside {
  background-color: rgb(245, 245, 245);
  top: 0%;
  height: calc(100vh - 60px);
  width: 85%;
  margin-left: 15%;
  margin-top: 60px;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-left-radius: 100px;
  position: relative;
  z-index: 1;
}

.ilm-pageb-noheight {
  background-color: rgb(245, 245, 245);
  margin-top: 60px;
  padding-bottom: 30px;
}

.ilm-page2-noheight {
  background-color: rgb(255, 255, 255);
  padding-bottom: 30px;
}

.ilm-page2 {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.ilm-page3-noheight {
  background-color: rgb(245, 245, 245);
  padding-bottom: 30px;
}

.ilm-page3 {
  background-color: rgb(245, 245, 245);
  height: 100vh;
}

.outer-container {
  height: 100%;
  padding: 10px;
  padding-top: 0px;
  width: calc(100% - 10px);
}

.outer-row {
  height: 100%;
}

.alerts-message {
  position: fixed;
  margin-top: 15px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.app-slogan {
  font-weight: 700;
  text-wrap: nowrap;
  color: rgb(30, 40, 82);
}

.app-slogan-1 {
  color: rgb(30, 40, 82);
  font-weight: 700;
}

.app-slogan-2 {
  color: #f39c12;
  font-weight: 700;
}

.table-margin-top {
  margin-top: 30px;
}

.page-title {
  margin-left: 60px;
}

.ilm-search {
  border-radius: 8px;
  border: rgb(30, 40, 82) solid 1px;
  box-shadow: 0px 0px 4px 1px rgba(30, 40, 82, 0.15);
  padding: 2px 15px;
}

.ilm-search:focus {
  box-shadow: 0px 0px 4px 1px rgba(30, 40, 82, 0.4);
  outline: none;
}

.ilm-search::placeholder {
  color: rgb(30, 40, 82);
}
