* {
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: rgb(245, 245, 245);
}

/*
#4b0808
#9B1018
#C01822
#DEDEDE
#646464
#CB4246
#E1E1E1
*/

code {
   font-family: Mark-Bold, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ilm-form {
   /*background-color: rgba(247, 55, 68, 0.116);*/
   background: linear-gradient(56.26deg, rgba(192, 23, 34, 0.336) 0%, rgba(192, 23, 34, 0.05) 100%), rgb(255, 255, 255);
   padding: 48px;
   color: rgb(60, 60, 60);
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.ilm-form .form-title {
   font-size: 22px;
   font-weight: bold;
}

.submit-button {
   background-color: rgb(192, 23, 34);
   color: white;
   border: 0px;
   font-size: 16px;
   padding: 14px 0px;
   cursor: pointer;
   transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.submit-button:hover {
   background-color: rgb(101, 10, 10);
}

.secondary-button {
   background-color: #727272;
   color: white;
   border: 0px;
   font-size: 16px;
   padding: 14px 0px;
   cursor: pointer;
   transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.secondary-button:hover {
   background-color: #4b4b4b;
}

.flex-row {
   display: flex;
   flex-direction: row;
   width: 100%;
   gap: 20px;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.form-content {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 20px;
}

.login-register-form-container {
   display: flex;
   width: 35%;
   margin-top: 6vh;
   height: 94vh;
   align-items: center;
}

.ilm-page {
   margin-top: 4vh;
   height: 96vh;
}

.ilm-page2 {
   margin-top: 4vh;
   height: 96vh;
   background-color: rgb(255, 255, 255);
}
