/* InterestSelector.css */
.fixed-container {
  background-color: #b8b8b8;
  border-radius: 10px;
  padding: 15px;
  max-height: 254px; /* Adjust as needed */
  overflow-y: auto;
  width: 100%; /* Adjust as needed */
  max-width: 500px; /* Adjust as needed */
}

.suggestions-list {
  position: absolute;
  z-index: 1000; /* Ensure it appears above other content */
  width: 53%;
  max-height: 100px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
