/* Estilo para a tabela de emails */
#mail-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

#mail-table tr {
  background: none;
  transition: background-color 0.3s;
  
  background-color: rgba(30, 40, 82, 0.056);
}

#mail-table tr:hover {
  background-color: rgba(243, 157, 18, 0.325); /* Cor de fundo ao passar o mouse */
  cursor: pointer;
}

#mail-table .unread {
  background-color: rgba(254, 242, 215, 0.794); /* Cor de fundo dos emails não lidos */
  font-weight:bolder;
}

#mail-table .mail-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle; /* Alinha o conteúdo verticalmente no meio */
}

#mail-table .sender-info {
  display: flex;
  align-items: center;
}

#mail-table .sender-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#mail-table .sender-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#mail-table .sender-name {
  font-weight: bold;
  color: #1e2852;
}

#mail-table .sender-email {
  font-size: 0.8em;
  color: #666;
}

#mail-table .mail-subject {
  font-weight: bold;
  color: #333;
}

#mail-table .mail-preview {
  display: block;
  color: #666;
  font-size: 0.9em;
  margin-top: 5px;
}

#mail-table .unread .sender-name,
#mail-table .unread .mail-subject {
  color: #1e2852; 
}

#mail-table .fa-trash,
#mail-table .trash-icon {
  cursor: pointer;
  color: #fe9d01;
  font-size: 1.2em;
}

#mail-table .fa-trash:hover,
#mail-table .trash-icon:hover {
  color: red;
}

.centered-cell {
  text-align: center; /* Centraliza o conteúdo */
}

.max-width-40 {
  max-width: 40px; /* Define uma largura máxima para a célula */
}

.max-width-15 {
  max-width: 15px; /* Define uma largura máxima para a célula */
}

.left-aligned-cell {
  text-align: left; /* Alinha o conteúdo à esquerda */
}

.mail-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}