.creator-profile-picture {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.member-profile-picture {
  width: 30px;
  height: 30px;
}

#table-users-project th {
  background-color: rgb(30, 40, 82);
}

#body-table-users-project tr {
  height: 14.3%;
}

#body-table-users-project {
  height: calc(100% - 34px);
  max-height: calc(100% - 34px);
  display: block;
  overflow: auto;
  width: 100%;
}

.card-body-text {
  height: 70%;
  max-height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}

#table-users-project-table {
  height: 100%;
  max-height: 100%;
}

.table-users-project-table thead,
.table-users-project-table tr,
.table-users-project-table tbody {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#body-table-users-project::-webkit-scrollbar {
  width: 7px;
  height: 6px; /* Espessura da barra de rolagem */
}

#body-table-users-project::-webkit-scrollbar-track {
  background: rgba(
    158,
    176,
    255,
    0.216
  ); /* Cor do trilho da barra de rolagem */
  border-radius: 8px;
}

#body-table-users-project::-webkit-scrollbar-thumb {
  background: #888; /* Cor da barra de rolagem */
  border-radius: 8px; /*Arredonda os cantos*/
}

#body-table-users-project::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

#table-users-project-head th {
  text-align: center;
}
