.app-navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(192, 23, 34);
   position: fixed;
   width: 100%;
   padding: 7px 20px;
   z-index: 1000;
   top: 0;
   left: 0;
   height: 60px;
   color: white;
}

.nav-icons-wrapper {
   display: flex;
   justify-content: center; /* Centraliza o wrapper dos ícones */
   flex-grow: 1; /* Permite que o wrapper cresça para ocupar o espaço */
}

.nav-icons {
   display: flex;
   justify-content: center; /* Centraliza os ícones dentro do wrapper */
   align-items: center;
}

.nav-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 15px;
}

.nav-item label {
   font-size: 15px;
   cursor: pointer;
   color: white; /* Assegura que as labels estejam sempre brancas */
}

.icon {
   height: 30px;
   width: 30px;
   background-size: cover;
   background-position: center;
   filter: invert(100%); /* Inverter cores de preto para branco */
   cursor: pointer;
}

.nav-right {
   display: flex;
   align-items: center;
   justify-content: flex-end; /* Alinha os elementos à direita */
   flex-grow: 0; /* Permite que o contêiner cresça para ocupar todo o espaço disponível à direita */
}

.language-dropdown {
   background-color: rgba(192, 23, 34, 0.8); /* Menos evidente */
   color: white;
   border: none;
   padding: 5px 10px;
   margin-right: 10px;
   cursor: pointer;
}

.bell,
.user-profile {
   margin-left: 10px;
   background-size: cover;
   background-position: center;
}

.user-profile .user-image {
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border: 2px solid white;
   background-size: cover; /* Garante que a imagem cubra toda a área da moldura */
   cursor: pointer;
}

.dropdown-content {
   display: none; /* Oculto por padrão */
   position: absolute;
   right: 0;
   background-color: #f9f9f9;
   color: black;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 5; /* Certifique-se que está acima de outros elementos */
   width: 150px; /* Ajuste conforme necessário */
   border-radius: 4px; /* Estilo opcional para bordas arredondadas */
}

.dropdown-content.show {
   display: flex; /* Usar flexbox para controlar o layout dos itens */
   flex-direction: column; /* Itens dispostos verticalmente */
   align-items: start; /* Alinhar itens à esquerda */
   padding: 10px; /* Adicionar um pouco de padding para estética */
}

.dropdown-content a {
   text-decoration: none; /* Opcional: remover sublinhado de links */
   color: black; /* Cor do texto para os links */
   padding: 5px 0; /* Espaço vertical entre links */
   display: block; /* Fazer cada link ocupar sua própria linha */
}

@media (max-width: 768px) {
   .bottom-navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: rgb(192, 23, 34);
      z-index: 1000;
   }

   .nav-icons-wrapper {
      display: none; /* Esconde os ícones na navbar superior */
   }

   .bottom-navbar .nav-icons {
      display: flex; /* Exibe os ícones na navbar inferior */
      justify-content: center; /* Centraliza os ícones horizontalmente */
   }

   .bottom-navbar .nav-item label {
      color: white; /* Assegura que as labels continuam brancas na navbar inferior */
   }

   .nav-right {
      width: auto; /* Ajusta a largura para ocupar somente o espaço necessário */
      justify-content: flex-end; /* Alinha os elementos de idioma e notificações à direita */
   }

   .nav-right .language-dropdown,
   .nav-right .icon.bell {
      margin-right: 10px; /* Garante um espaçamento adequado à direita */
   }
}
