.ilm-headers {
   background-color: rgb(192, 23, 34);
   position: fixed;
   width: 100%;
   padding: 7px 20px;
   z-index: 1000;
   top: 0;
   left: 0;
   height: 60px;
}

.logo {
   height: 47px;
   width: 44px;
   background-image: url("../../../../../Resources/logo.png");
   background-size: cover;
   background-position: center;
}
