.ilm-headers {
  background-color: rgb(30, 40, 82);
  position: fixed;
  width: 100%;
  padding: 7px 20px;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 60px;
}

.logo {
  cursor: pointer;
  height: 47px;
  width: 44px;
  background-image: url("../../../../../Resources/logo.png");
  background-size: cover;
  background-position: center;
  filter: invert(50%) sepia(80%) saturate(429%) hue-rotate(359deg)
    brightness(94%) contrast(95%);
}
